# Dependencies
node_modules
npm-debug.log

# Build outputs
.next
out
dist
build

# Git
.git
.gitignore

# IDE
.idea
.vscode
*.swp
*.swo

# Environment files
.env
.env.local
.env.*.local

# Test files
coverage
__tests__
e2e
*.test.ts
*.test.tsx
*.spec.ts
*.spec.tsx
playwright-report
test-results

# Documentation
*.md
!README.md

# Misc
.DS_Store
Thumbs.db
